// I don't know what's wrong with this import, fix it if you can
// @import "utilities.scss";

$default-transition: 0.4s ease-in-out;
$btn-text-color: rgb(22, 22, 22);

.auth-form {
  max-width: 22rem;
  margin: 2rem auto;
  padding: 1rem;
  transition: $default-transition;
  font-family: "Lato", sans-serif;
  @extend .debug-all;
}

.form-control {
  // border: 2px solid #026294;
  border: none;
  outline: none;
 border-radius: 1rem;
  margin: 1rem 0;

  &:focus,
  &:active,
  &:hover {
    outline: none !important;
    border: red;
  }
}

.toggle-btn {
  background: #ccc;
  color: $btn-text-color;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  transition: $default-transition;

  &:focus,
  &:hover,
  &:active {
    color: rgb(45, 45, 45);
    background: rgb(235, 235, 235);
  }
}

.auth-btn {
  width: 100%;
  @include btn(0.7rem 1rem, $default-color);
  cursor: pointer;
  transition: $default-transition;
}
