
@import "utilities.scss";


.auth-form {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  transition: $default-transition;
  font-family: "Lato", sans-serif;
}

.form-control {
  border: 1px solid #026294;
  border-radius: 0.5rem;
  margin: .7rem 0;
  width: 100%;
  transition: $default-transition;
  
  &:focus,
  &:active,
  &:hover {
    border: 2px solid #026294;
    outline: none;
  }
}

.toggle-btn {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  @include btn(0.1rem 0.5rem, none);
  border-radius: 1rem;
}

.auth-btn {
  width: 100%;
  @include btn(0.7rem 1rem, $default-color);
  cursor: pointer;
  transition: $default-transition;
}
