@use "utilities.scss";

.quiz-btn {
  @include btn(2rem 0, none);
}

.congrats {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.score {
  margin-bottom: 1rem;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.dashboard-form {
  display: flex;

  & > * {
    padding: 0.5rem;
  }

  & > input {
    justify-content: end;
    border: none;
    background-color: #ccc;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }

  label {
    justify-content: start;
    margin-right: 0.5rem;
    width: 8rem;
    // @extend .debug;
  }
}
