@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap");

.debug {
  border: 2px solid white;
}

$default-transition: 0.4s ease-in-out;
$btn-text-color: rgb(22, 22, 22);
