[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
pillow = "*"
django-cors-headers = "*"
whitenoise = "*"
djangorestframework-simplejwt = "*"
ipython = "*"
django-rest-swagger = "*"

[dev-packages]

[requires]
python_version = "3.8"
